.video__data {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 10px;

  .video__title {
    font-size: 30px;
  }
}
.video__comments {
  #deleteIcon {
    cursor: pointer;
  }
}
